<?xml version="1.0" encoding="GB2312"?>
<content>
	<Font>微软雅黑</Font>
	<FontSize>标准</FontSize>
	<WriteLog>1</WriteLog>
	<TestSpeed>0</TestSpeed>
	<bFullLog>1</bFullLog>
	<bAutoRoll_Fast>0</bAutoRoll_Fast>
	<bAutoRoll_Credit>0</bAutoRoll_Credit>
	<bStockAssociated_Fast>0</bStockAssociated_Fast>
	<bStockAssociated_Credit>0</bStockAssociated_Credit>
	<bStockAssociated_HGT>0</bStockAssociated_HGT>
	<bStockAssociated_SGT>1</bStockAssociated_SGT>
	<bDirectlyOrder_Fast>1</bDirectlyOrder_Fast>
	<bDirectlyOrder_Credit>1</bDirectlyOrder_Credit>
	<bLog_MarketAlert>1</bLog_MarketAlert>
	<Version>10101</Version>
	<ConnectUpdateServerState>0</ConnectUpdateServerState>
	<CurNoticeNO>1013</CurNoticeNO>
	<Notice>公告1005$$$Google 宣布将在未来的 Google Chrome/Chromium 中使用基于 WebKit 的 fork Web 渲染引擎：Blink。同时 Opera 表示也将跟进 Google Chrome/Chromium 的步伐。 Google Chrome/Chromium 从创始至今一直使用 WebKit(WebCore) 作为 HTML/CSS 渲染引擎。WebKit 早先由 Apple 由 KHTML 项目 fork 出来，用于 Safari 浏览器的 Web 引擎。由于宽松的协议、轻量级的设计和便捷的应用程序内嵌 API，WebKit 逐渐变得流行起来，除了 Google Chrome/Chromium 和 Safari，它在移动终端（ Symbian S60，Android，iOS）到 Toolkit 集成(GTK+, Qt4) 都有不错的收获。@@@公告1013$$$**我们把代码贡献出来，是为了让大家能先尝试一些他们感兴趣的功能。Blink 永远不会单独成为一个独立的开源项目来运作，它一定是 Flink 的一部分。开源后我们期望能找到办法以最快的方式将 Blink merge 到 Flink 中去。**Blink 开源只有一个目的，就是希望 Flink 做得更好。@@@</Notice>
	<NewNoticeNO>1013</NewNoticeNO>
	<Accounts>
		<Account1>
			<Value>MTAwMjY5MTEjQA==</Value>
		</Account1>
		<Account2>
			<Value>MTg5NTAwOTgjQA==</Value>
		</Account2>
		<Account3>
			<Value>Mjg5NTExMTgjQA==</Value>
		</Account3>
		<Account4>
			<Value>MjAwNDc4ODgjQA==</Value>
		</Account4>
	</Accounts>
	<ModuleDLLInfo>
		<Module1>
			<DllName>FastTrade.dll</DllName>
			<Des>快速交易</Des>
		</Module1>
		<Module2>
			<DllName>CreditTrade.dll</DllName>
			<Des>融资融券</Des>
		</Module2>
	</ModuleDLLInfo>
	<UpdateServerUseFirst>113.240.251.171:10888</UpdateServerUseFirst>
	<UpdateServer>
		<UpdateServer1>
			<servername>长沙</servername>
			<serverip>113.240.251.171</serverip>
			<port>10888</port>
		</UpdateServer1>
		<UpdateServer3>
			<servername>测试一</servername>
			<serverip>180.169.89.22</serverip>
			<port>19998</port>
		</UpdateServer3>
		<UpdateServer4>
			<servername>上海</servername>
			<serverip>101.226.250.236</serverip>
			<port>10888</port>
		</UpdateServer4>
	</UpdateServer>
	<TradeLastLogin>180.169.89.22:10188</TradeLastLogin>
	<Trade>
		<Trade1>
			<server>生产联通:58.246.255.117:1456</server>
		</Trade1>
		<Trade2>
			<server>生产电信:180.166.161.179:1456</server>
		</Trade2>
		<Trade3>
			<server>测试一:180.169.89.22:10188</server>
		</Trade3>
	</Trade>
	<SSEMarketLastLogin>180.169.89.22:1111</SSEMarketLastLogin>
	<SSEMarket>
		<SSEMarket1>
			<server>上海生产移动:117.144.189.36:50001</server>
		</SSEMarket1>
		<SSEMarket2>
			<server>上海生产联通:58.246.255.125:50001</server>
		</SSEMarket2>
		<SSEMarket3>
			<server>上海电信全真:124.74.24.238:7999</server>
		</SSEMarket3>
		<SSEMarket4>
			<server>上海生产电信:180.166.161.186:50001</server>
		</SSEMarket4>
		<SSEMarket5>
			<server>地址一:180.169.89.22:1111</server>
		</SSEMarket5>
	</SSEMarket>
	<SZSEMarketLastLogin>180.169.89.22:2222</SZSEMarketLastLogin>
	<SZSEMarket>
		<SZSEMarket1>
			<server>深圳生产移动:183.237.219.41:50001</server>
		</SZSEMarket1>
		<SZSEMarket2>
			<server>深圳生产电信:113.105.133.73:50001</server>
		</SZSEMarket2>
		<SZSEMarket3>
			<server>深圳电信全真:113.105.133.78:7999</server>
		</SZSEMarket3>
		<SZSEMarket4>
			<server>地址一:180.169.89.22:2222</server>
		</SZSEMarket4>
	</SZSEMarket>
	<AlertSSELastLogin>117.144.189.47:10666</AlertSSELastLogin>
	<AlertSSE>
		<AlertSSE1>
			<server>预警一:117.144.189.47:10666</server>
		</AlertSSE1>
	</AlertSSE>
	<AlertSZSELastLogin>117.144.189.19:10666</AlertSZSELastLogin>
	<AlertSZSE>
		<AlertSZSE1>
			<server>预警一:117.144.189.19:10666</server>
		</AlertSZSE1>
	</AlertSZSE>
	<FastTradeSetting>
		<买默认挡位>买五价</买默认挡位>
		<卖默认挡位>卖五价</卖默认挡位>
		<默认金额>15000</默认金额>
		<默认手数>100</默认手数>
		<bTradePopover>0</bTradePopover>
		<bCalculateByBalance>0</bCalculateByBalance>
		<bEntrustQueue>1</bEntrustQueue>
		<bEntrustEach>1</bEntrustEach>
		<bDismantling>1</bDismantling>
		<BaseQuantity>1</BaseQuantity>
		<bRandom>1</bRandom>
		<bPrompt>1</bPrompt>
		<Order_Minimum>10</Order_Minimum>
		<Order_Maximum>20</Order_Maximum>
	</FastTradeSetting>
	<CreditTradeSetting>
		<买默认挡位>买一价</买默认挡位>
		<卖默认挡位>卖一价</卖默认挡位>
		<默认金额>30000</默认金额>
		<默认手数>200</默认手数>
		<bTradePopover>0</bTradePopover>
		<bCalculateByBalance>0</bCalculateByBalance>
		<BEntrustType_Alert>融资买入</BEntrustType_Alert>
		<bEntrustQueue>1</bEntrustQueue>
		<bEntrustEach>1</bEntrustEach>
		<bDismantling>1</bDismantling>
		<BaseQuantity>1</BaseQuantity>
		<bRandom>1</bRandom>
		<bPrompt>1</bPrompt>
		<Order_Minimum>10</Order_Minimum>
		<Order_Maximum>5</Order_Maximum>
	</CreditTradeSetting>
	<AutoTradeSetting>
		<s_bPercentageIncrease>+(元)</s_bPercentageIncrease>
		<IncreaseValue>2.00</IncreaseValue>
		<priceType>现价</priceType>
		<bDefaultAmount>1</bDefaultAmount>
		<DefaultAmount>100</DefaultAmount>
		<DefaultBalance>600.00</DefaultBalance>
		<bManualConfirm>0</bManualConfirm>
		<limit_entrustBalance>100000.00</limit_entrustBalance>
		<bTimingTrading>0</bTimingTrading>
		<beginTime>09:14:15</beginTime>
		<endTime>15:00:00</endTime>
	</AutoTradeSetting>
	<AlertSetting_Credit>
		<Template_Stock>0</Template_Stock>
		<Template_Alert>6</Template_Alert>
		<IncreaseRatio>4.00</IncreaseRatio>
		<bRemove_Increase>0</bRemove_Increase>
		<Period_Increase>20</Period_Increase>
		<Minute_N_Rise>10</Minute_N_Rise>
		<IncreaseRatio_N_Rise>1.00</IncreaseRatio_N_Rise>
		<Minute_Low_Rise>3</Minute_Low_Rise>
		<BeginRatio_Low_Rise>-2.00</BeginRatio_Low_Rise>
		<EndRatio_Low_Rise>3.00</EndRatio_Low_Rise>
	</AlertSetting_Credit>
	<AlertSetting_Fast>
		<Template_Stock>0</Template_Stock>
		<Template_Alert>6</Template_Alert>
		<IncreaseRatio>5.00</IncreaseRatio>
		<bRemove_Increase>0</bRemove_Increase>
		<Period_Increase>20</Period_Increase>
		<Minute_N_Rise>10</Minute_N_Rise>
		<IncreaseRatio_N_Rise>1.00</IncreaseRatio_N_Rise>
		<Minute_Low_Rise>3</Minute_Low_Rise>
		<BeginRatio_Low_Rise>-2.00</BeginRatio_Low_Rise>
		<EndRatio_Low_Rise>3.00</EndRatio_Low_Rise>
	</AlertSetting_Fast>
	<EntrustEachConfig>
		<entrustAmount>10</entrustAmount>
		<entrustBalance>0.10</entrustBalance>
		<bBuy>1</bBuy>
		<bSell>0</bSell>
		<bWithdrawBuy>0</bWithdrawBuy>
		<bWithdrawSell>0</bWithdrawSell>
		<DeviateRatio>0.10</DeviateRatio>
		<bFilterRatio>0</bFilterRatio>
		<increaseRatio>5.00</increaseRatio>
		<Template_stock>1</Template_stock>
		<bSound>0</bSound>
	</EntrustEachConfig>
</content>
